<?xml version="1.0" encoding="UTF-8"?>
<!-- 문서 유형 : mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.danny.dannygalaxy.mapper.BoardMapper">

	<!--insert, update, delete는 자동으로 int타입의 값을 반환해 준다-->
    <!-- 전체 게시글 조회  -->
	<select id="selectBoardList" resultType="com.danny.dannygalaxy.domain.BoardsVO">
		SELECT  bno,btitle,bcontent,bwriter,bviewsCnt,breplyCnt,bdelFlag,
				bregDate,bmoddate
		  FROM schatz.boards
	</select>

    <!-- 게시글 등록  -->
	<insert id="insertBoardsSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			SELECT schatz.seq_board.nextval from dual
		</selectKey>
			INSERT  INTO schatz.boards
				   VALUES (#{bno}, #{btitle},#{bcontent},#{bwriter},default,default,default,default,default)
	</insert>	
	
	<!--특정 게시글 조회  -->
	<select id="selectBoards" resultType="com.danny.dannygalaxy.domain.BoardsVO">
			SELECT bno,btitle,bcontent,bwriter,bviewsCnt,breplyCnt,bdelFlag,bregDate,bmodDate
			FROM schatz.boards
			WHERE bno=#{bno}
	</select>
	
	<!-- 특정 게시글 조회수 증가 :게시글 조회시 +1 -->
	<update id="updateBviewsCnt">
		UPDATE schatz.boards
		   SET bviewsCnt = bviewsCnt + 1
		 WHERE bno = #{bno}
	</update>

	<!-- 특정 게시글 수정  -->
	<update id="updateBoards" parameterType="com.danny.dannygalaxy.domain.BoardsVO">		    
			UPDATE schatz.boards
			   SET btitle = #{btitle},
   				   bcontent=#{bcontent},
    			   bmoddate=default
		     WHERE bno=#{bno}
	</update>
	
	<!-- 특정 게시글 삭제 요청. bdelFlag를 1로 수정-->
	<update id="updateBdelFlag" parameterType="long">
			UPDATE schatz.boards
			   SET bdelflag = 1
			 WHERE bno = #{bno}
	</update>
	<!-- 특정 게시글 삭제   -->	
	<delete id="deleteBoards" parameterType="long">
		DELETE schatz.boards
		 WHERE bno = #{bno}
	</delete>
	
	
	
</mapper>	