<?xml version="1.0" encoding="UTF-8"?>
<!-- 문서 유형 : mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.danny.dannygalaxy.mapper.BoardMapper">
	
	<!-- 게시글 목록 -->
	<select id="selectBoardList">
		SELECT bno,btitle,bcontent,bwriter,bregDate,bmodDate,
		bviewsCnt,breplyCnt,boardFile
		FROM schatz.tbl_boards
	</select>
	
	<!-- 게시글 등록  -->
	<insert id="insertBoard">
		<selectKey keyProperty="bno" order="BEFORE" resultType="Long">
			SELECT seq_boards.nextval FROM dual
		</selectKey>
		INSERT INTO schatz.tbl_boards
			VALUES(#{bno},#{btitle},#{bcontent},#{bwriter},default,default,default,default,#{boardFile,jdbcType=VARCHAR})	
	</insert>
	
	
</mapper>	